.categorias-navbar{
    //  height: 40px; 
    /* display: flex; */
    border: none;
}
.spin-nav-categorias{
    width: 50px;
}
.size-layout-cat{
    height: 100%;
    width: 210px;
}
.size-menu-cat{
    height: 50%;
    width: 260px;
    line-height: normal;
}
.size-submenu-cat{
   height: 100%;
}
.size-submenu-cat > .ant-menu-submenu-title {
    height: 100%;
    display: flex;
    align-items: center;
}
.size-submenu-cat > .ant-menu-submenu-title {
    font-weight: 300;
}


