.categorias-navbar{
    /* height: 40px; */
    /* display: flex; */
    border: none;
}
.spin-nav-categorias{
    width: 50px;
}
.size-layout-cat{
    height: 50px;
    width: 230px;
    border-radius: 10px;
}
.size-menu-cat{
    height: 50%;
    width: 260px;
    line-height: normal;
}
.size-submenu-cat{
   height: 100%;
}
.size-submenu-cat > .ant-menu-submenu-title {
    height: 100%;
    display: flex;
    align-items: center;
}
.size-submenu-cat > .ant-menu-submenu-title {
    font-weight: 300;
}
.border-departamento{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}


